@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 85vw;
  height: 60vh;

  @include screen-mobile {
    position: absolute;
    bottom: 0;
  }

  @include screen-desktop {
    position: absolute;
    top: 12rem;
    right: 14rem;

    width: 30%;
  }

  .inputLayout {
    display: flex;
    flex-direction: column;

    span:first-of-type {
      font-family: $typography-main-font;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }

    span:last-child {
      font-family: $typography-main-font;
      font-size: 11px;
      color: $primary-red;
      margin-top: 0.5rem;
    }

    input {
      height: 3rem;
      border: 1px solid rgba(33, 9, 47, 0.25);
      border-radius: 0.5rem;
      padding-left: 1rem;

      font-family: $typography-main-font;
      font-size: 1rem;

      &::placeholder {
        font-family: $typography-main-font;
        opacity: 0.33;
      }
    }
  }

  .bottomInputLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_exp {
      display: flex;
      flex-direction: column;
      width: 48%;

      span:first-of-type {
        font-family: $typography-main-font;
        font-size: 14px;
        margin-bottom: 0.5rem;
      }

      span:last-child {
        font-family: $typography-main-font;
        font-size: 11px;
        color: $primary-red;
        margin-top: 0.5rem;
      }

      &_inputs {
        display: flex;
        justify-content: space-between;

        input {
          height: 3rem;
          width: 33%;
          border: 1px solid rgba(33, 9, 47, 0.25);
          border-radius: 0.5rem;
          padding-left: 1rem;

          font-family: $typography-main-font;
          font-size: 1rem;

          &::placeholder {
            font-family: $typography-main-font;
            opacity: 0.33;
          }
        }
      }
    }

    &_cvc {
      display: flex;
      flex-direction: column;
      width: 48%;

      span {
        font-family: $typography-main-font;
        font-size: 14px;
        margin-bottom: 0.5rem;
      }

      input {
        height: 3rem;
        width: 89.5%;
        border: 1px solid rgba(33, 9, 47, 0.25);
        border-radius: 0.5rem;
        padding-left: 1rem;

        font-family: $typography-main-font;
        font-size: 1rem;

        &::placeholder {
          font-family: $typography-main-font;
          opacity: 0.33;
        }
      }
    }
  }

  .confirmBtn {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $neutral-very-dark-violet;

    font-family: $typography-main-font;
    font-size: 1rem;
    color: $neutral-white;

    &:hover {
      cursor: pointer;
    }
  }
}

input:invalid {
  border-radius: 0.25rem;
  outline: 2px solid $primary-red;
}
