// Space Grotesk font family
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

// =================================================
// =================================================

// PRIMARY COLOURS
// active input highlight
$primary-linear-gradient: linear-gradient(
  hsl(249, 99%, 64%),
  hsl(278, 94%, 30%)
);
// input errors
$primary-red: hsl(0, 100%, 66%);

// =================================================
// =================================================

// NEUTRAL COLOURS
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grayish-violet: hsl(270, 3%, 87%);
$neutral-dark-grayish-violet: hsl(279, 6%, 55%);
$neutral-very-dark-violet: hsl(278, 68%, 11%);

// =================================================
// =================================================

// TYPOGRAPHY
$typography-main-font: "Space Grotesk", sans-serif;
$typography-body-size: 18px;
